:root {
  --red: crimson;
  --darkViolet: #6331a0;
  --violet: #9667d0;
  --extraLightViolet: #e7dcf4;
  --electricBlue: #0a8abd;
  --extraLightElectricBlue: #69cff7;
  --darkElectricBlue: #05435c
; }

/*
 * Highlight images missing alt text!
 * Inspired from @addyosmani's tweet here:
 * https://twitter.com/addyosmani/status/1223872295619330048
 */
img:not([alt]) {
  border: 2px solid var(--red); }

@media (min-width: 50em) {
  @font-face {
    font-family: 'PT Sans';
    src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/PTSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: 'PT Sans';
    src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal; } }

@media (prefers-color-scheme: light) {
  html {
    background: #ffffff;
    color: #1c1d22; } }

@media (prefers-color-scheme: dark) {
  html {
    background: #1c1d22;
    color: #ffffff; } }

html {
  font-size: 16px;
  font-size: calc(0.8rem + 0.3vw); }

body {
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

b, strong, th {
  font-weight: 600; }

a {
  color: inherit; }

article a {
  color: #68f; }

hr {
  border: 1px solid rgba(142, 142, 145, 0.3);
  margin: 2em 0; }

article:not(:last-child) {
  border-bottom: 1px solid rgba(142, 142, 145, 0.12); }

blockquote {
  background: rgba(142, 142, 145, 0.06);
  border-left: 3px solid rgba(142, 142, 145, 0.9);
  padding: 1px 1.5em;
  opacity: .75; }

blockquote, figure {
  margin: 1em 0; }

img, li {
  margin: .5em 0; }

img {
  border-radius: 2px;
  max-width: 100%;
  height: auto; }

table {
  width: 100%;
  border-spacing: 1px;
  box-shadow: 0 0 0 1px rgba(142, 142, 145, 0.12) inset; }

th, td {
  padding: .5em 1em;
  box-shadow: 0 0 0 1px rgba(142, 142, 145, 0.12); }

tr:hover, tr:nth-child(odd) td {
  background: rgba(142, 142, 145, 0.04); }

pre {
  background: rgba(142, 142, 145, 0.12);
  border-radius: 2px;
  font-size: .8em;
  margin: 1.5em 0;
  padding: .8em 1.2em;
  overflow-x: auto; }

:not(pre) > code {
  font-size: .9em;
  background: rgba(142, 142, 145, 0.15);
  opacity: .7;
  border-radius: 2px;
  margin: 0 .1em;
  padding: .2em .4em; }

body > header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 0 0.6em rgba(28, 29, 34, 0.05);
  border-bottom: 1px solid rgba(142, 142, 145, 0.16); }

body > header > a {
  font-size: 1.3em; }

article header {
  margin-bottom: 1.5em; }

article header h1 {
  font-size: 1.8em;
  margin: 0 0 .1em; }

nav {
  margin: .5em -.8em; }

nav a {
  margin: .5em .8em; }

.offset {
  padding: 1.5em; }

.display-block {
  display: block; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.archive li {
  font-size: 1.1em; }

.hidden {
  display: none; }

.list {
  list-style-type: none;
  padding: 0 2em; }
  .list li {
    padding: 0.5em 1em;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease; }
    .list li:hover {
      margin-left: 1em;
      border-left: 10px solid var(--violet);
      background-color: var(--extraLightViolet); }
      .list li:hover a {
        color: var(--darkViolet); }
