<div class="codepen_widget">
    <p class="codepen" data-height="300"
                       data-default-tab="html,result"
                       data-slug-hash="{{ .Get `penId` }}"
                       data-pen-title="test--margin-block-start--arabic"
                       data-user="oorkan"
                       data-editable="true"
                       data-theme-id="{{ .Get `penTheme` | default `dark` }}"
                       style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
        <span>See the Pen <a href="https://codepen.io/oorkan/pen/{{ .Get `penId` }}">
        test--margin-block-start--arabic</a> by oorkan.dev (<a href="https://codepen.io/oorkan">@oorkan</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
</div>
